<!-- Default home page -->

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>

<link type="text/css" href='styles/dashboard.css' rel='stylesheet'/>

<script src="js/dependencies/sails.io.js"></script>
<script src="js/dependencies/cytoscape.min.js"></script>

<script type="text/javascript">

    console.log ('helo world');

    var socket2 = io.socket;

    // Cytoscape stuff
    $(function(){ // on dom ready


var cy = cytoscape({
  container: $('#cy')[0],
  
  style: cytoscape.stylesheet()
    .selector('node')
      .css({
        'content': 'data(name)',
        'text-valign': 'center',
        'color': 'white',
        'text-outline-width': 2,
        'text-outline-color': '#888'
      })
    .selector(':selected')
      .css({
        'background-color': 'black',
        'line-color': 'black',
        'target-arrow-color': 'black',
        'source-arrow-color': 'black',
        'text-outline-color': 'black'
      }),
  
  // elements: {},
  
  layout: {
    name: 'grid',
    padding: 10
  }
});
  
cy.on('tap', 'node', function(){
  window.open( this.data('href') );
});


setInterval(function() {
    io.socket.get('/map/show', function(graphData) {
        cy.remove(cy.elements('*'));
        cy.add(graphData);
    });
}, 1000);

io.socket.on('node', function(event) {
    console.log('event');
});


}); // on dom ready


</script>
<h1>Welcome to easyNav Graph!!</h1>
<p>To refresh, first delete nodes, then delete edges, then repopulate graph.</p>
<p>To update location, send a POST request to heartbeat location endpoint.</p>
<div id="cy"></div>